In [1]:
import numpy as np
import pandas as pd
import datetime as dt

# Date Ranges

We can manually generate date ranges as follows

In [52]:
pd.date_range("2024-01-01", periods = 10)

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08',
               '2024-01-09', '2024-01-10'],
              dtype='datetime64[ns]', freq='D')

In [56]:
pd.date_range("2024-01-01", periods = 10, freq="7d")

DatetimeIndex(['2024-01-01', '2024-01-08', '2024-01-15', '2024-01-22',
               '2024-01-29', '2024-02-05', '2024-02-12', '2024-02-19',
               '2024-02-26', '2024-03-04'],
              dtype='datetime64[ns]', freq='7D')

these date_range series can be used like a normal column

In [27]:
date1 = pd.date_range("2013-01-01", periods=6)

d = {
    "timestamp": date1, "data": pd.Series([1.0, 2.0, 3.0, 4.0, 5.0, 6.0])}

df = pd.DataFrame(d)
df

   timestamp  data
0 2013-01-01   1.0
1 2013-01-02   2.0
2 2013-01-03   3.0
3 2013-01-04   4.0
4 2013-01-05   5.0
5 2013-01-06   6.0

In [29]:
df.timestamp.dt.day

0    1
1    2
2    3
3    4
4    5
5    6
Name: timestamp, dtype: int32

We can also use date_range as index to a dataframe

In [65]:
date1 = pd.date_range("2013-01-01", periods=10, freq="9d")

d = {
    "data": pd.Series([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 5.0, 4.0, 3.0, 2.0], index = date1)}

df2 = pd.DataFrame(d)
df2

            data
2013-01-01   1.0
2013-01-10   2.0
2013-01-19   3.0
2013-01-28   4.0
2013-02-06   5.0
2013-02-15   6.0
2013-02-24   5.0
2013-03-05   4.0
2013-03-14   3.0
2013-03-23   2.0

From the data frame index, we can extract various date / time fields

In [77]:
(df2.index.year, df2.index.month, df2.index.day)

(Index([2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013], dtype='int32'),
 Index([1, 1, 1, 1, 2, 2, 2, 3, 3, 3], dtype='int32'),
 Index([1, 10, 19, 28, 6, 15, 24, 5, 14, 23], dtype='int32'))

And - we can calculate with date time values...

In [80]:
(mn, mx) = df2.index.min(), df2.index.max()
mn, mx, mx-mn

(Timestamp('2013-01-01 00:00:00'),
 Timestamp('2013-03-23 00:00:00'),
 Timedelta('81 days 00:00:00'))

Finally, we can the date magic in groupby statements

In [75]:
df2.groupby(df2.index.month)["data"].mean()

1    2.500000
2    5.333333
3    3.000000
Name: data, dtype: float64

Of course, we can also use shorter time spans; eg minutes

In [10]:
date1 = pd.date_range("2013-01-01", periods=10, freq="10min")

d = {
    "data": pd.Series([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 5.0, 4.0, 3.0, 2.0], index = date1)}

df2 = pd.DataFrame(d)
df2

                     data
2013-01-01 00:00:00   1.0
2013-01-01 00:10:00   2.0
2013-01-01 00:20:00   3.0
2013-01-01 00:30:00   4.0
2013-01-01 00:40:00   5.0
2013-01-01 00:50:00   6.0
2013-01-01 01:00:00   5.0
2013-01-01 01:10:00   4.0
2013-01-01 01:20:00   3.0
2013-01-01 01:30:00   2.0

# Resampling

In [12]:
N = 10
date1 = pd.date_range("2013-01-01", periods=N, freq="1d")

d = {
    "data": pd.Series(range(N), index = date1)}

df = pd.DataFrame(d)
df

            data
2013-01-01     0
2013-01-02     1
2013-01-03     2
2013-01-04     3
2013-01-05     4
2013-01-06     5
2013-01-07     6
2013-01-08     7
2013-01-09     8
2013-01-10     9

Now let's resample the series. We have to say by the amount of resampling & what we should do with the values in between...

In [19]:
# let's take every 2nd day and sum the values
df.resample("2d").sum()

            data
2013-01-01     1
2013-01-03     5
2013-01-05     9
2013-01-07    13
2013-01-09    17

In [21]:
# let's take every 2nd day and max the values
df.resample("2d").max()

            data
2013-01-01     1
2013-01-03     3
2013-01-05     5
2013-01-07     7
2013-01-09     9

In [23]:
# let's take every 3nd day and sum the values
df.resample("3d").sum()

            data
2013-01-01     3
2013-01-04    12
2013-01-07    21
2013-01-10     9