In [1]:
import numpy as np
import pandas as pd

# Merging Dataframes

In [25]:
df1 = pd.DataFrame( {"CO2": pd.Series([4.0, 3.0, 2.0], index=["Vienna", "London", "Berlin"])} )
df1

        CO2
Vienna  4.0
London  3.0
Berlin  2.0

In [27]:
df2 = pd.DataFrame( {"NOx": pd.Series([14.0, 21.0, 28.0], index=["Vienna", "London", "Paris"])} )
df2

         NOx
Vienna  14.0
London  21.0
Paris   28.0

In [32]:
# we perform an outer join; missing values are replaced by NaN
pd.concat([df1, df2], axis=1)

        CO2   NOx
Vienna  4.0  14.0
London  3.0  21.0
Berlin  2.0   NaN
Paris   NaN  28.0

In [36]:
# if we make an inner join, only rows with all values are kept
pd.concat([df1, df2], axis=1, join="inner")

        CO2   NOx
Vienna  4.0  14.0
London  3.0  21.0

# Joining

In [41]:
df1 = pd.DataFrame( {"measurement": pd.Series([4.0, 3.0, 2.0], index=["V", "L", "B"])} )
df1

   measurement
V          4.0
L          3.0
B          2.0

In [47]:
dcity = pd.DataFrame( {"city": pd.Series(["Berlin", "London", "New York", "Vienna"], index=["B", "L", "N", "V"])} )
dcity

       city
B    Berlin
L    London
N  New York
V    Vienna

In [49]:
df1.join(dcity)

   measurement    city
V          4.0  Vienna
L          3.0  London
B          2.0  Berlin